<div class="container">
  <br><br>
  <div class="row">
    <div class="col-sm-5">
      <div class="row px-3 justify-content-center mt-4 mb-5 border-line">  <img src="https://i.imgur.com/uNGdWHi.png" class="image" width="400" ></div>
    </div>  
<div class="col-sm-7">
<div class="container" *ngIf="assignment">
  <h1>Evaluation de l'assignment <span style="color:green;">{{assignment.nom}}</span> envoyé par {{assignment.auteur}}</h1>
  <form ngForm class="form">
    <mat-form-field>
    <input class="form-control" placeholder="Donner une note" [(ngModel)]="note" name="note" type="number">
    </mat-form-field>
    <mat-form-field>
      <textarea class="form-control" placeholder="Donner un observation..." [(ngModel)]="remarques" name="remarques">
      </textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSaveAssignment()">
      Valider
    </button>
  </form>
</div>
</div>
  </div>
  </div>
<footer>
  <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-light text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">MBDS CI</h5>
            <p class="d-inline lead">Gestion des assignments @mama_youan_ci<br>
            <a href="#" class="text-light d-block lead">Année-acdemique 2020-2021</a>
            </p>

            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">Contacts</h5>
              <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>(+225) 07 880 625 02</a>
              <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>mamayoun@gmail.com</a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
            <h5 class="card-title text-white display-4" style="font-size:30px">Réseau sociaux</h5>
        
                <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
              
                <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
            </div>
          </div>
        </div>	
      </div>
    </div>
  </div>
</footer>
